{% block body %}
<html>
    <style>
        .d2 {
                background-color: rgb(206, 153, 219);
                text-align: center;
                padding: 15px;
                font-family: sans-serif;
        }
        body{
            background-color: grey;
        }
    </style>
    <body>
        <header class="d2">Please update your title here!</header>
        <nav>
            <form method="POST" action="/update1/{{notes}}">
                <pre>





                <center><input type="text" placeholder="Title please.." name="title" id="title"/></center>
                <center><button type="submit">Update</button></center>
                </pre>
            </form>
        </nav>

    </body>
</html>
{% endblock %}
