<html>
    <head>
        <title>
            Error Occured
        </title>
    </head>
    <body bgcolor="grey">
        <h1> If you are viewing this page, it signifies any of the following errors</h1>
        <h3>
            <ul>
                <dl>Error while creating Tasks:
                    <dd>You might be trying to create multiple tasks with same name, please check and proceed further</dd>
                </dl>

                <dl>Error while deleting Tasks:
                    <dd>You might be trying to delete same task multiple times, please check and proceed further</dd>
                </dl>
            </ul>
        </h3>
        
    </body>
</html>
