<htnl>
    <head>
        <title>Sign Up Page</title>
        <style>
            .d1 {
                background-color: rgb(206, 153, 219);
                text-align: center;
                padding: 15px;
                font-family: sans-serif;
            }
            body{
                background-color: grey;
            }
            form{
                color: beige;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <header class="d1"> Hello! Please Sign up here..</header>
        <form method="POST" action="/sign">
            <pre>
            First Name:        <input type="text" maxlength="30" size="15" name="firstname"/><br/>
            Last Name:         <input type="text" maxlength="30" size="15" name="lastname"/><br/>
            Username:          <input type="text" maxlength="30" size="15" name="username"/><br/>
            Email id:          <input type="text" maxlength="30" size="15" name="emailid"/><br/>
            password:          <input type="password" maxlength="8" size="15" name="password1"/><br/>
            re enter password: <input type="password" maxlength="8" size="15" name="password2"/><br/>
            <center><input type="submit" value="let's go"></center>
            <center><input type="reset" value="ignore"></center>
            </pre>
        </form>
    </body>
</htnl>
